@model WebApplication3.Models.Procedure

@{
    ViewData["Title"] = "Create";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker11').datetimepicker({
                daysOfWeekDisabled: [0, 6]
            });
        });

        // When choosing procedure type, change the price to the type default price
        $('select#ProcedureTypeID').change(function () {
                var selectedProTypeID = $(this).val();

            // If no type was selected

                // Get the default price of the selected type
                $.get("/ProcedureTypes/PriceByID", { nTypeID: selectedProTypeID }, function (data, status) {
                    $("#initialPrice").val(data);
                });
        });

    </script>


@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Procedure</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PatientID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("PatientID", String.Empty)
                <span asp-validation-for="PatientID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProcedureTypeID" class="col-md-2 control-label"></label>
            <div class="col-md-10" id="ProType">
                @Html.DropDownList("ProcedureTypeID", String.Empty)
                <span asp-validation-for="ProcedureTypeID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsPaid" />
                    <label asp-for="IsPaid"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" id="initialPrice"/>
                <span asp-validation-for="Price" class="text-danger" />
            </div>
        </div>
            <div class="form-group">
                <label asp-for="Time" class="col-md-2 control-label"></label>
                <div class='input-group date col-md-10' id='datetimepicker11' style="width: 348px;padding: 0px 15px 0px 15px;">
                    <input asp-for="Time" type='text' class="form-control" />
                    <span class="input-group-addon" style="border-right: 1px groove;">
                        <span class="glyphicon glyphicon-calendar">
                        </span>
                    </span>
                    <span asp-validation-for="Time" class="text-danger" />
                </div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}*@
