@model WebApplication3.Models.Procedure

@{
    ViewData["Title"] = "Edit Procedure";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="PatientID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <span class="form-control" style="max-width:280px" readonly>@Model.Patient.FirstName @Model.Patient.LastName</span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProcedureTypeID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <span class="form-control" style="max-width:280px" readonly>@Model.ProcedureType.Name</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsPaid" id="isPaid" onChange="cbInputChange(this)" />
                    <label asp-for="IsPaid"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" id="priceInput" />
                <span asp-validation-for="Price" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Time" class="col-md-2 control-label"></label>
            <div class='input-group date col-md-10' id='datetimepicker11' style="width: 348px;padding: 0px 15px 0px 15px;">
                <input asp-for="Time" type='text' class="form-control" />
                <span class="input-group-addon" style="border-right: 1px groove;">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                <span asp-validation-for="Time" class="text-danger" />
            </div>
        </div>
        <div class="form-group" style="display:none">
            <label asp-for="ProcedureTypeID" class="col-md-2 control-label"></label>
            <div class="col-md-10" id="ProType">
                <input asp-for="ProcedureTypeID" class="form-control" />
                <span asp-validation-for="ProcedureTypeID" class="text-danger" />
            </div>
        </div>
        <div class="form-group" style="display:none">
            <label asp-for="PatientID" class="col-md-2 control-label"></label>
            <div class="col-md-10" id="ProType">
                <input asp-for="PatientID" class="form-control" />
                <span asp-validation-for="PatientID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group" role="group" aria-label="...">
                <a asp-action="Index" class="btn btn-default">Back to List</a>
                <input type="submit" value="Save" id="btmSubmit" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
<script type="text/javascript">
    // On ready function
    $(function () {
        // If the procedure was paid- dont let the user to change the price
        if ($('#isPaid').is(':checked')) {
            $("#priceInput").prop('readonly', true);
        }
        $('#datetimepicker11').datetimepicker({
            daysOfWeekDisabled: [0, 6]
        });
    });

    $("#btmSubmit").on('click', function (e) {

        var hey = "hry";
    });

    // Function that disable/enable price input when the user click the checkbox
    function cbInputChange(cb, inputID) {
        // If the user checked the checkbox- disable the input
        if (cb.checked) {
            $("#priceInput").prop('readonly', true);
        } else {
            // If the user unchecked the checkbox- enable the input
            $("#priceInput").prop('readonly', false);
        }
    };



</script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
