@{
    ViewData["Title"] = "Index";
}

<div id="mainAbout">
    <h2>אודות</h2>
    <p id="aboutText">
        תיאור כלשהו של המרפאה הפרטית
    </p>
</div>

<div id="mainVideo">
    <video controls="controls" autoplay muted>
        <source src="~/Content/clinicVideo.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.
    </video>
</div>