@{
    ViewData["Title"] = "Index";
}

<h2>אודות</h2>
<p id="aboutText">
    S&R היא זירת שופינג אינטרנטית שמדברת לכל בחורה שעבורה אופנה היא מוקד של עניין והתרגשות. את האתר הקימו בספטמבר 2014 שלי אוחובט ורעות קרבצוק.
    מהרגע הראשון שהאתר עלה לאוויר, היה ברור שכל הריגוש הוא להיות עם היד על הדופק ומעבר לכך: אם זה בבחירות המדויקות של הבגדים והאקססוריז, בעיצוב הממשק הכי חלק וכיפי, בהטמעה של הטכנולוגיות הכי מתקדמות ושימושיות,ובתוכן שסובב את הכל יחד ומאפשר לכן לחוות שכבה נוספת ומסעירה דרך הרשתות החברתיות.
    את מוזמנת להצטרף למסע - אין כמו הכיף של שופינג בקליק, שאחריו נוחתת אצלך בבית חבילה מנוקדת, מלאה אוצרות אופנתיים חדשים. אם זו היתה ההתחלה, אנחנו מתרגשים לחשוב מה יקרה עם הקופסה הזו בעתיד! ♥
</p>

<div style="margin: 0 auto; width:500px;">
    <video controls="controls" autoplay muted>
        <source src="~/Content/clinicVideo.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.
    </video>
</div>