@{
    ViewData["Title"] = "Index";
}

<div id="mainAbout">
    <h2>אודות</h2>
    <p id="aboutText" class="newspaper">
        המרפאה ממוקמת ברחוב היהלום בפתח תקווה בשכונה מרכזית ונגישה. במרפאה אווירה נעימה וביתית והיא מציעה מגוון רחב של טיפולי שיניים רפואיים ואסתטים באמצעות המכשירים המתקדמים ביותר כיום. ובנוסף, במקום מעבדת שיניים המופעלת על ידי טכנאי שיניים אומן. כל זאת, תחת קורת גג אחת על מנת לספק לכם שירות מקיף, מקצועי וחדשני.
        מקצוע רפואת השיניים דורש יד של אומן, זהו מקצוע שבו היכולות האומנותיות שזורות בכל פעולה בשגרת יומו של הרופא. גילוף, פיסול, כתרים, סתימות ותותבות ,כאשר את כולם בוחנת עין אומנותית לטובת התוצאה הסופית באסתטיקה של החיוך.
        הצוות המסור, היחס האישי, האווירה הנעימה והטיפול העדין מפיגים את כל החרדות והפחדים. אחוזי ההצלחה גבוהים לטיפולי השתלת שיניים, שיקום הפה, הלבנת שיניים, ציפוי שיניים ועוד.
        ד"ר בני שנרך הוא רופא שיניים בעל ניסיון רב, המאמין כי על מנת להעניק למטופל את הטיפול הטוב ביותר עליו להמשיך להתמקצע ולהתעדכן. לכן הוא נפגש עם אנשי מקצוע מהארץ ומהעולם, עובר השתלמויות בתחום רפואת השיניים. הוא בעל ניסיון רב בכירורגיה מעבודתו משך מספר שנים, במחלקת הפה והלסת בבי"ח איכילוב ובשיקום הפה, בעקבות עבודתו מזה שנים מול הגיל השלישי.
    </p>
</div>

<div id="mainVideo">
    <video controls="controls" autoplay muted>
        <source src="~/Content/clinicVideo.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.
    </video>
</div>



