@{
    ViewData["Title"] = "Not Exit";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">The information you are looking for is not exist</h2>

<a asp-action="Index" class="btn btn-default">Back Home</a>