@{
    ViewData["Title"] = "Not Logged In Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">Please Login/Register First!</h2>

<a asp-action="Index" class="btn btn-default">Back Home</a>