@{
    ViewData["Title"] = "Permission Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">You don't have permissions to commit this action</h2>

<a asp-action="Index" class="btn btn-default">Back Home</a>