@model WebApplication3.Models.Patient

@{
    ViewData["Title"] = "Create New Patient";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" class="well form-horizontal">
    <fieldset>
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Identifier" class="col-md-4 control-label"></label>
            <div class="col-md-5 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input asp-for="Identifier" id="regIdentifier" placeholder="123456789" class="form-control inputNumberOnly">
                </div>
                <span asp-validation-for="Identifier" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="FirstName" class="col-md-4 control-label"></label>
            <div class="col-md-5 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input asp-for="FirstName" id="regFirst" placeholder="Israel" class="form-control patientNameInput" type="text">
                </div>
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="LastName" class="col-md-4 control-label"></label>
            <div class="col-md-5 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input asp-for="LastName" id="regLast" placeholder="Israeli" class="form-control patientNameInput" type="text">
                </div>
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-4 control-label"></label>
            <div class="col-md-5 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input asp-for="Email" name="email" id="regEmail" placeholder="E-Mail Address" class="form-control" type="text">
                </div>
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Birthday" class="col-md-4 control-label"></label>
            <div class="col-md-5 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input asp-for="Birthday" name="birthday" class="form-control" type="date">
                </div>
                <span asp-validation-for="Birthday" class="text-danger" />
            </div>
        </div>
            <div class="form-group">
                <label asp-for="Phone" class="col-md-4 control-label"></label>
                <div class="col-md-5 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input asp-for="Phone" id="regPhone" placeholder="0541234567" class="form-control inputNumberOnly" />
                    </div>
                    <span asp-validation-for="Phone" class="text-danger " />
                </div>
            </div>

        <div class="form-group">
            <label asp-for="Password" class="col-md-4 control-label"></label>
            <div class="col-md-5 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-certificate"></i></span>
                    <input asp-for="Password" class="form-control" />
                </div>
                <span asp-validation-for="Password" class="text-danger " />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Medicine Allergies</label>
            <div class="col-md-5">
                @Html.ListBox("Allergies", ViewBag.Allergies as MultiSelectList, new { id = "arrAllergies", name = "arrAllergies", title = "Hold Ctrl for multiple items" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="btn-group" role="group" aria-label="...">
                <a asp-action="Index" class="btn btn-default">Back to List</a>
                <button type="submit" class="btn btn-warning" id="subFinal">Create <span class="glyphicon glyphicon-send"></span></button>
            </div>
        </div>
    </fieldset>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript" language="javascript">
        // Regular expressions for validation

        $("#regEmail").on('keyup', function (e) {
            var val = $(this).val();
            if (val.match(/[\u0591-\u05F4]/)) {
                $(this).val(val.replace(/[\u0591-\u05F4]/, ''));
            }
        });
        $(".inputNumberOnly").on('keyup', function (e) {
            var val = $(this).val();
            if (val.match(/[^0-9]/)) {
                $(this).val(val.replace(/[^0-9]/, ''));
            }
        });

        $(".patientNameInput").on('keyup', function (e) {
            var val = $(this).val();
            if (val.match(/[^A-Za-z\u0591-\u05F4"-']/)) {
                $(this).val(val.replace(/[^A-Za-z\u0591-\u05F4"-']/, ''));
            }
        });
    </script>
}
